[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Anjaneya-mirafra
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Anjaneya-mirafra
	label-Verified = -1..+1 group user/Anjaneya-mirafra
	push = group user/Anjaneya-mirafra
	read = group user/Anjaneya-mirafra
	rebase = group user/Anjaneya-mirafra
	removeReviewer = group user/Anjaneya-mirafra
	submit = group user/Anjaneya-mirafra
[access "refs/heads/*"]
	create = group user/Anjaneya-mirafra
	push = +force group user/Anjaneya-mirafra
	pushMerge = group user/Anjaneya-mirafra
	read = group user/Anjaneya-mirafra
[access "refs/tags/*"]
	push = group user/Anjaneya-mirafra
	push = +force group user/Anjaneya-mirafra
